<script id="articles-template" type="text/x-handlebars-template">
  {{#each articles}}
    <article id="article-{{id}}">
      <header>
        <h1>{{title}}</h1>
      </header>
      <p>{{body}}</p>
      <footer>
        <p>{{formatAsDate created_at}}</p>
      </footer>
    </article>
  {{/each}}
</script>

<section id="output"></section>

<script>
  $(function(){
    Handlebars.registerHelper('formatAsDate', function(d) {
      return moment(d).calendar();
    });
    
    var template = Handlebars.compile($("#articles-template").html());
    
    $.ajax(
      {
        url: '/api/articles',
        type: 'GET',
        data: 'json',
        success: function(data) {
          $('#output').append( template({articles: data}) );
        },
        error: function(x,y,z) {
          console.log(x,y,z);
        }
      }
    );
    
  });
</script>