<script id="articles-template" type="text/x-handlebars-template">
  {{#each articles}}
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <p>{{body}}</p>
      <footer>
        <p>{{created_at}}</p>
      </footer>
    </article>
  {{/each}}
</script>

<section id="output"></section>

<script>
  $(function(){
    
    $.ajax(
      {
        url: '/api/articles',
        type: 'GET',
        data: 'json',
        success: function(data) {
          var source = $("#articles-template").html();
          var template = Handlebars.compile(source);
          console.log(data);
          $('#output').html(template({articles: data}));
        },
        error: function(x,y,z) {
          console.log(x,y,z);
        }
      }
    );
    
  });
</script>